<%- include('../partials/header') %>

<h1>Edit Skill Difficulty</h1>

<!-- action === href of an a tag -->
<form action="/skills/<%= skill.id %>?_method=PUT" method="POST" autocomplete="off">
  <label for="difficulty">Select Difficulty Level:
    <select name="difficulty" id="difficulty">
      <option value="easy">Easy</option>
      <option value="intermediate">Intermediate</option>
      <option value="hard">Hard</option>
    </select>
  </label><br>
  <button type="submit" class="btn btn-primary">EDIT SKILL</button>
</form>

<%- include('../partials/footer') %>